#ifndef SECRETS_H
#define SECRETS_H

// rename this file to "secrets.h" and fill in your details below

// Wi-Fi Credentials
#define SECRET_WIFI_SSID "YOUR_WIFI_SSID_HERE"
#define SECRET_WIFI_PASS "YOUR_WIFI_PASSWORD_HERE"

// Bluetooth Application PIN
#define SECRET_BT_PIN "1234" 

#endif